@model chataVlese.Models.Feedback

@{
    ViewBag.Title = "Delete";
}

<div class="admin_content">

    <h2>Vymazať komentár</h2>

    <h3>Naozaj chcete vymazať hodnotenie?</h3>
    <table align="center" width="500">
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Comment)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Comment)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Rating)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Rating)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <td><input type="submit" value="Delete" /></td>
            }
        </tr>
        <tr>
            <td></td>
            <td>@Html.ActionLink("Back to List", "Index", null, new { @class = "ActionLinkBtn" })</td>
        </tr>
    </table>  

</div>
